<!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('{{site.baseurl}}/images/7.jpg');"></div>
                <div class="carousel-caption">
                    <h2 class="wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('{{site.baseurl}}/images/7.jpg');"></div>
                <div class="carousel-caption">
                    <h2 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('{{site.baseurl}}/images/7.jpg');"></div>
                <div class="carousel-caption">
                    <h2 class="wow slideInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">Caption 3</h2>
                </div>
            </div>
        </div>
    </header>