<footer class="site-footer">

  <div class="footer_wrapper">
 <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="testimonial bottom">
                        <h2>Testimonial</h2>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img width="52" height="52" src="{{site.baseurl}}/images/7.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                "Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail."
                                <a href="#">- Jhon Kalis</a>
                            </div>
                         </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img width="52" height="52" src="{{site.baseurl}}/images/7.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                "Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison eiusmod."
                                <a href="">- Abraham Josef</a>
                            </div>
                        </div>   
                    </div> 
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>Contacts</h2>
                        <address>
                        E-mail: <a href="mailto:devmetric@gmail.com">devmetric@email.com</a> <br> 
<!--
                        Phone: +1 (123) 456 7890 <br> 
                        Fax: +1 (123) 456 7891 <br> 
-->
                        </address>

                        <h2>Address</h2>
                        <address>
                        Dept. of CSE,<br> 
                        Alliance College of Engineering and Design, <br> 
                        Alliance University,<br> 
                        Bangalore, Karnataka - 562106<br> 
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="contact-form bottom">
                        <h2>Send a message</h2>
                        <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
                            </div>                        
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    <div class="footer_bottom" >
<!--                    <div class="copyright-text text-center">-->
                        <p>&copy; devMetric 2015. All Rights Reserved.</p>
                        <p>Developed by <a target="_blank" href="http://silverfoxa.github.io">silverFoxA</a></p>
<!--                    </div>-->
                </div>
      <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>  
    <script type="text/javascript" src="{{ site.baseurl }}/js/lightbox.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/wow.min.js"></script>
</footer>
