 <div class="col-md-3 col-sm-5" style="float: right;">
                    <div class="sidebar blog-sidebar">
                        <div class="sidebar-item  recent wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                           <div id="filters" class="sixteen columns" style="text-align:left;">
                <ul class="clearfix" style="margin-left:0px;">
                    <li><a id="all" href="#" data-filter="*" class="active"><h5> Ask a Question </h5></a></li>
                </ul><!--/#portfolio-filter-->
                </div>
                        </div>
                        <div class="sidebar-item popular wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h3>Posting guide</h3>
                           <table>
                           <tbody>
                           <tr><td style="padding:5px;"><a href="#"><img width="66px" height="66px" src="{{site.baseurl}}/images/7.jpg" alt=""></a></td><td style="padding:5px;"><a href="#"><img width="66px" height="66px" src="{{site.baseurl}}/images/7.jpg" alt=""></a></td><td style="padding:5px;"><a href="#"><img width="66px" height="66px" src="{{site.baseurl}}/images/7.jpg" alt=""></a></td>
                           </tr>
                           <tr><td style="padding:5px;"><a href="#"><img width="66px" height="66px" src="{{site.baseurl}}/images/7.jpg" alt=""></a></td><td style="padding:5px;"><a href="#"><img width="66px" height="66px" src="{{site.baseurl}}/images/7.jpg" alt=""></a></td><td style="padding:5px;"><a href="#"><img width="66px" height="66px" src="{{site.baseurl}}/images/7.jpg" alt=""></a></td>
                           </tr>
                           <tr><td style="padding:5px;"><a href="#"><img width="66px" height="66px" src="{{site.baseurl}}/images/7.jpg" alt=""></a></td><td style="padding:5px;"><a href="#"><img width="66px" height="66px" src="{{site.baseurl}}/images/7.jpg" alt=""></a></td><td style="padding:5px;"><a href="#"><img width="66px" height="66px" src="{{site.baseurl}}/images/7.jpg" alt=""></a></td>
                           </tr>
                           </tbody>
                           </table>
                        </div>
                    </div>
                </div>