<li ><a href="{{site.baseurl}}/" {% if page.url == '{{site.baseurl}}/' %}class="active" style="color:rebeccapurple;font-weight:500;"{% endif %}>Home</a></li>
<li ><a href="{{site.baseurl}}/about.html" {% if page.url == '{{site.baseurl}}/about.html' %}class="active" style="color:rebeccapurple;font-weight:500;"{% endif %}>About</a></li>
<li ><a href="{{site.baseurl}}/courses.html" {% if page.url == '{{site.baseurl}}/courses.html' %}class="active" style="color:rebeccapurple;font-weight:500;"{% endif %}>Courses</a></li>
<li ><a href="{{site.baseurl}}/forum.html" {% if page.url == '{{site.baseurl}}/forum.html' %}class="active" style="color:rebeccapurple;font-weight:500;"{% endif %}>Forum</a></li>
<li ><a href="{{site.baseurl}}/blog/index.html" {% if page.url == '{{site.baseurl}}/blog/' %}class="active" style="color:rebeccapurple;font-weight:500;"{% endif %}>Blog</a></li>
<li ><a href="{{site.baseurl}}/portfolio.html" {% if page.url == '{{site.baseurl}}/portfolio.html' %}class="active" style="color:rebeccapurple;font-weight:500;"{% endif %}>Portflio</a></li>
            