<li ><a href="/" {% if page.url == '/' %}class="active" style="color:rebeccapurple;font-weight:500;"{% endif %}>Home</a></li>
<li ><a href="/about.html" {% if page.url == '/about.html' %}class="active" style="color:rebeccapurple;font-weight:500;"{% endif %}>About</a></li>
<li ><a href="/courses.html" {% if page.url == '/courses.html' %}class="active" style="color:rebeccapurple;font-weight:500;"{% endif %}>Courses</a></li>
<li ><a href="/forum.html" {% if page.url == '/forum.html' %}class="active" style="color:rebeccapurple;font-weight:500;"{% endif %}>Forum</a></li>
<li ><a href="/blog/index.html" {% if page.url == '/blog/' %}class="active" style="color:rebeccapurple;font-weight:500;"{% endif %}>Blog</a></li>
<li ><a href="/portfolio.html" {% if page.url == '/portfolio.html' %}class="active" style="color:rebeccapurple;font-weight:500;"{% endif %}>Portflio</a></li>
            