 
    <script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/lightbox.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/wow.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script> 
    
<script type="text/javascript">
    $(document).ready(function(e) {
        $('#test').scrollToFixed();
        $('.res-nav_click').click(function(){
            $('.main-nav').slideToggle();
            return false    
            
        });
        
    });
</script>

 <script>
    $('.carousel').carousel({
        interval: 2000 //changes the speed
    })
    </script>