/**
 * Site header
 */
.site-header {
//   // border-top: 5px solid $grey-color-dark;
//    border-bottom: 1px solid $grey-color-light;
//    min-height: 56px;
//
//    // Positioning context for the mobile navigation icon
//    position: relative;
    width: 100%;
    z-index: 1000;
    margin-top: 0px;
    position: fixed;
  background-color: #204E4E;
  background-position: top;
  background-size: contain;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    margin-left: 10px;
    

    &,
    &:visited {
        color: $nav-item-color;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $nav-item-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
     padding-bottom: 10px;
    margin-bottom: 0px;
    position: absolute;
  background-color: #504E4E;
  background-position: bottom;
  background-size: contain;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: ($spacing-unit*2) 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}
.post-list a{
color: #337ab7;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.preview{
    padding-right: 10%;
    height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    text-align: left;
    display: flex;  /* enables centering for modern non-webkit browsers */
    flex-direction: column;
    justify-content: space-around; /* centers for modern non-webkit browsers */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center; /* centers in -webkit-box automagically! */
}

span .read {
    background-color: cadetblue;
    color: white;
    padding: 10px;
}

span .read:hover{
    background-color: transparent;
    color: cadetblue;
    font-weight: 500;
    padding: 10px;
}



.footer_wrapper {
    margin-right: 5%;  
    margin-left: 5%;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.bottom .media-body h3 {
  margin-top: 0;
  padding-left: 25px;
}

.bottom .media-body h3 a{
  color: #00CAEA;
}

.testimonial .media{
  margin-top: 0;
  margin-bottom: 25px;
}

.testimonial .media>.pull-left{
  margin-right: 25px;
}

.testimonial .media>.pull-left img{
  margin-top: 6px;
}

.testimonial .media .media-body blockquote{
  padding-left: 25px;
  padding-right: 30px;
  position: relative;
  border-left: 0;
  margin-bottom: 0;
}

.testimonial .media .media-body blockquote:before{
  position: absolute;
  left: 5px;
  top: 8px;
  content: '"';
  font-size: 40px;
  color: #00CAEA;
  font-family: 'Noto Sans', sans-serif;
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Opera, Chrome, and Safari */
  line-height: 0;
}

.testimonial .media .media-body blockquote:after{
  position: absolute;
  right: 30px;
  bottom: 14px;
  content: '"';
  font-size: 40px;
  color: #00CAEA;
  font-family: 'Noto Sans', sans-serif;
  line-height: 0;
}

.contact-info.bottom {
  padding-left: 25px;
}

.bottom > address {
  line-height: 22px;
  margin-bottom: 40px;
}

.form-control {
  border: 1px solid #eaeaea;
  font-weight: 300;
  outline: none;
  box-shadow: none;
  height: 40px;
}

.form-control:hover, 
.form-control:focus{
  border-color: #4fcccd;
  outline: none;
  box-shadow: none;
}

.btn-submit {
  width: 100%;
  background-color: #4fcccd;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-radius: 3px;
  margin-top: 5px;
  border-bottom: 3px solid #2f9697;
  box-shadow: none;
  padding: 10px;
}

.btn-submit:hover, 
.btn-submit:focus{
  color: #fff;
  outline: none;
  box-shadow: none;
  opacity: .8;
}

.copyright-text{
  margin-top: 70px;
  color: #fff;
  font-size: 16px;  
  padding-bottom: 15px;
}

.copyright-text a {
  color: #3e848a
}

.copyright-text p {
  margin-bottom: 0;
}

.footer_wrapper h2 {
    color: $nav-item-color;
}



#header {
    width: 100%;
    z-index: 1000;
    margin-top: 0px;
  position: fixed;
  background-color: #204E4E;
  background-position: top;
  background-size: contain;
}


